<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2632de2ef6.js" crossorigin="anonymous"></script>
    <title>RestoHunt Apps - Submission 1</title>
</head>
<body>
  <a href="#maincontent" class="skip__content">Skip content</a>
  <header>
    <div class="header__brand">
      <img src="./images/logo/logo.png" alt="Logo" class="logos">
      <h1>RestoHunt Apps</h1>
    </div>
    <button tabindex="-1"><i class="fa-solid fa-bars" tabindex="0"></i></button>
    <div class="header__nav">
      <nav>
        <a href="">Home</a>
        <a href="#">Favorite</a>
        <a href="https://www.linkedin.com/in/muhammad-imron-994123244/">About Us</a>
      </nav>
    </div>
  </header>
  <main tabindex="0" id="maincontent">
    <div class="main__hero">
      <h1 class="hero__title">Ayo cari restoran favorit kamu</h1>
      <p class="hero__tagline">Terdapat berbagai restoran yang mungkin sesuai dengan kalian, dimulai dari restoran Indonesia, restoran Prancis (Prapatan Ciamis), dan restoran andalan kami, restoran Warteg (Warung Tegal)</p>
    </div>
    <section class="content"></section>
  </main>
  <footer>
    <p>Copyright &copy; 2022 - RestoHunt Apps | Big thanks to <a href="https://www.dicoding.com/" tabindex="-1">dicoding</a> with <i class="fa-sharp fa-solid fa-heart"></i></p>
  </footer>
</body>
</html>
