@media screen and (min-width: 400px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .header__brand {
    margin: 0.5rem;
  }

  header button i {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
  }

  .content__item {
    flex-basis: 45%;
    margin: 0.5rem;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .hero__tagline {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 470px) {
  footer p {
    margin-top: 0;
  }
}

@media screen and (min-width: 576px) {
  .header__brand .logos {
    width: 3rem;
  }

  .header__brand h1 {
    font-size: 1.3rem;
  }
  
  header button {
    display: none;
  }

  .header__nav {
    position: static;
    box-shadow: none;
    flex-basis: content;
    align-self: center;
  }

  .header__nav nav {
    display: block;
    margin-left: 2rem;
  }

  .header__nav nav a {
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__tagline {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px) {
  .content__item {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 700px) {
  .hero__title {
    font-size: 2.2rem;
    margin: 1rem 3rem;
  }
  
  .hero__tagline {
    font-size: 1rem;
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 800px) {
  .item__body .body {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .content__item {
    flex-basis: 22%;
  }
}

@media screen and (min-width: 1200px) {
  .main__hero {
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto;
  }
}